.artigos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.artigo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}


.artigo h2 {
    margin: 0;
    font-size: 1.5em;
}