.header {
    background-color: rgba(167, 49, 3, 0.94);
    border-bottom: 1px solid #a81805;
    box-shadow: 0 2px 4px rgba(167, 49, 3, 0.94);
    height: 80px;
    overflow: hidden;
}

.logo {
    height: 80px;
    width: auto;
    border-radius: 8px;
}

.logoLarge {
    height: 100px;
    transform: translateY(-10px);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link,
.headerlink {
    text-decoration: none;
    color: #000;
}

.link:hover,
.headerlink:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
        flex-wrap: wrap;
    }

    .nav {
        gap: 1rem;
    }

    .logoLarge {
        height: 80px;
        transform: none;
    }

    .link,
    .headerlink {
        font-size: 0.9rem;
    }
}